#body {
}
#myText {
    display: block;
}
#scatterCanvas {
    display: none;
}
#mainMenuButton{
    display: none;
}
#inputX {
    display: none;
}
#inputY {
    display: none;
}
#inputButton {
    display: none;
}
#functionCanvas {
    display: none;
}
#inputFunction {
    display: none;
}
#inputfunctionButton {
    display: none;
}